.main-nav {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 5px 0;
    padding: 0 6vh;
}

.main-nav li {
    border: 1px solid black;
    border-radius: 20px;
    padding: 7px;
    width: 22px;
    margin: 0 2vh;
}

.main-nav li:hover {
    background-color: rgb(163, 223, 241);
}

.main-nav li a{
    text-decoration: none;
    color: black;
}

header {
    display: flex;
    justify-content: left;
    background-color: rgb(209, 242, 253);
}

.right-nav {
    display: flex;
    max-width: 200px;
}

.left-nav {
    float: left;
}